
.temperature-controller {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: background-color 1s ease;
  color: white;
  font-family: Arial, sans-serif;
}


.temperature-window {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 100px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  color: black;
}


.temperature-display {
  font-size: 3rem;
  margin: 0 0 20px 0;
}

.temperature-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* Кнопки */
.temp-button {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  background-color: white;
  color: black;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.temp-button:hover {
  transform: scale(1.1);
  background-color: lightgray;
}

.temp-button:active {
  transform: scale(1);
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3);
}

